body {
  font-size: 1px;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: default;
  text-align: center;
}

svg {
  border: 1px solid #000;
}

.cont {
  width: 100px;
}

.msg {
  background-color: rgb(204, 204, 161);
  padding: 10px;
}
